.sobre{ 
    width: 100vw; 
    height: 100vh; 
    padding-top: 5vh;  
    align-items: center; 
    display: inline-flex; 
    justify-content: center; 
}

#resenha{
    width: 80%;
    height: 80%;
    margin: 30px;
    padding: 30px;
    color: #fff;
    align-items: center;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-image: url("../img/filmes.png");
}

#resenha h2{ font-size: 5rem; text-transform: uppercase;}
#resenha p{ font-size: 2rem; text-align: justify;}

/* --------------------- Coloquei só uma media query pra tela de celular ----------------------------------- */

@media (min-width: 400px) and (max-width: 1024px){
    #resenha h2 { font-size: 3rem;}
    #resenha p { font-size: 1.5rem;}
}